{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 110,
  "importOrder": [
    "^react",
    "^lodash/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/names/(.*)$",
    "^@/analytics/(.*)$",
    "^@/(.*)$",
    "^@/data/(.*)$",
    "^@/assets/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
